<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <display-name>Quản lý an ninh</display-name>
	<description>Quản lý an ninh</description>

	<welcome-file-list>
        <welcome-file>layout_metronic.jsp</welcome-file>
    </welcome-file-list> 

	
   
      <error-page>
    <!-- Missing login -->
    <error-code>401</error-code>
	    <location>/views/error.html</location>
	</error-page>
	<error-page>
	    <!-- Forbidden directory listing -->
	    <error-code>403</error-code>
	    <location>/views/error.html</location>
	</error-page>
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/views/error.html</location>
	</error-page>
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/views/error.html</location>
	</error-page>
	<error-page>
	    <!-- Unsupported servlet method -->
	    <error-code>503</error-code>
	    <location>/views/error.html</location>
	</error-page> 
    
  <error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	   <!-- <error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	 <error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page> -->
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Disable unneeded HTTP methods by 403 Forbidden them</web-resource-name>
	        <url-pattern>/*</url-pattern>
	       
	        
	        <http-method-omission>GET</http-method-omission>
	        <http-method-omission>HEAD</http-method-omission>
	        <http-method-omission>POST</http-method-omission>
	        <http-method-omission>DELETE</http-method-omission> 
	    </web-resource-collection>
	    <auth-constraint />
	</security-constraint>
</web-app>