
<div data-ng-controller="objectManagementController as vm">
	<div ng-show="vm.showSearch">
		<form class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="portlet light bordered">
					<div class="portlet-title background-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Thông
								tin tìm kiếm</span>
						</div>
						<div class="text-right margin-row-title">
							<i data-toggle="collapse" data-target="#demoobjectManagement"
								class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						</div>
					</div>
					<div id="demoobjectManagement" class="collapse in from-search">
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Mã chức năng</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text" autofocus
										ng-model="vm.objectManagementSearch.objectCode" />
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Tên chức năng</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text"
										ng-model="vm.objectManagementSearch.objectName" />
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate> Chức năng cha</label>
								<div class="col-md-8">
									<select kendo-drop-down-list="applySelect" class="form-control"  k-options="vm.parentSelectOptions"
										id="usermanagement_search_status" style="width: 100%" name="usermanagement_search_status"
										ng-model="vm.objectManagementSearch.parentId">
									</select>
								</div>

							</div>
						
							<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate> Loại chức năng</label>
								<div class="col-md-8">
									<select kendo-drop-down-list="applySelect" class="form-control"  k-options="vm.objectTypeSelectOptions"
										id="usermanagement_search_status" style="width: 100%" name="usermanagement_search_status"
										ng-model="vm.objectManagementSearch.objectTypeId">
									</select>
								</div>

							</div>
						</div>
						
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Trạng
									thái</label>
								<div class="col-md-8">
									<select kendo-drop-down-list="applySelect" class="form-control"  k-options="vm.statusSelectOptions"
										id="usermanagement_search_status" style="width: 100%" name="usermanagement_search_status"
										ng-model="vm.objectManagementSearch.status">
									</select>
								</div>

							</div>
						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" id="findParam" ng-click="vm.doSearch()"
										class="btn btn-qlk padding-search-right searchQLK" translate>Tìm kiếm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết
					quả tìm kiếm: </span>&nbsp;<label class="control-label bold lowercase"
					ng-bind="vm.count"></label><label
					class="control-label bold lowercase">&nbsp;bản ghi</label>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demoobjectManagementGrid"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>

			</div>
		</div>
		<div id="demoobjectManagementGrid" class="collapse in ">
			<div class=" margin_top_button"></div>
			<div id="objectManagementGrid" kendo-grid="vm.objectManagementGrid"
				k-editable="false" k-options="vm.gridOptions"
				k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
		</div>
	</div>
</div>